body{
    text-align : center;
}

div{
    height : 100px;
    width : 100px;
    display : inline-block;
    border : 2px solid black;
    display: flex;
    flex-direction : row;
    /* flex-direction : row-reverse; */
    /* flex-direction : column-reverse; */
    justify-content : flex-end;
    justify-content : flex-start;
    justify-content : center;
    justify-content : space-around;
}

#container{
    height : 200px;
    width : 800px;
}

#box1{
    background-color : yellow;
}

#box2{
    background-color : green;
}

#box3{
    background-color : blue;
}

#box4{
    background-color : red;
}

#box5{
    background-color : pink;
}

@media (width : 600px) {
    #container{
        background-color : black;
    }
}

@media (max-width : 600px) {
    #container{
        background-color : salmon;
    }
}

@media (mid-width : 600px) {
    #container{
        background-color : greenyellow;
    }
}

#AA{
    height : 100px;
    width : 100px;
    color :brown;
    background-color : grey;
    border : 2px solid black ;
    position :absolute;
    top : 350px;
    left : 200px;
    /* transition-property : all;
    transition-duration : 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s; */
    transition : all 1s ease-in;
    /* transform : rotate(45deg); */

}

#AA:hover {
    background-color :black;
    color :blue;
    font-size : 20px;
    /* transform : rotate(360deg); */
    /* transform : Scale(3); */
    /* transform : translate(250px); */
    transform : skew(90deg);
}

#AA:active {
    background-color : red;
}